/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
//cor rosa #cb6ce6
	//cor verde #008037
// cor cinza escuro #9d9ea1
// cor cinza claro #b1b2b5
// cor branco #ffffff
//cor preto #0a0a0a
.buttonsOptions {
	-fx-background-color: #cb6ce6;
	-fx-text-fill: #ffffff;
	-fx-font-size: 14;
	-fx-background-radius: 12px;
}

.button:hover { //N sei oq ta assim
	-fx-background-color: #d88eed;
}